doctype html
html
  head
    title="Blood Pressure Tracker"
    meta(charset="utf-8")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css")

  body
    h1="Blood Pressure Tracker"
    block content
